{% extends 'base.html' %}
{% block titulo %}Crear Receta{% endblock %}



{% block contenido %}
{% include 'menu.html'%}

<h1>Creando Pizza</h1>

<div id="toppings" hidden>
    {{toppings}}
</div>
<div id="favorite" hidden>
    {{favorite}}
</div>

<form action="/craft_a_pizza" method="post">
    <div class="container">

        <div class="row justify-content-center mt-5">
            <div class="col-md-6">

                <h6>Method:</h6>
                <select id="Method" class="form-select" aria-label="Default select example" name="method">
                    <option value="0" selected>CarryOut - $0</option>
                    <option value="1000">Delivery - $1000</option>
                </select>


                <h6>Size:</h6>
                <select id="Size" class="form-select" aria-label="Default select example" name="size">
                    <option value="2000">Large - $2000</option>
                    <option value="1500">Medium -$1500</option>
                    <option value="1000" selected>Small -$1000</option>
                </select>


                <h6>Crust:</h6>
                <select id="Crust" class="form-select" aria-label="Default select example" name="crust">
                    <option value="G" selected>Gruesa</option>
                    <option value="D">Delgada</option>
                </select>


                <h6>Cantidad:</h6>
                <select id="Cantidad" class="form-select" aria-label="Default select example" name="cantidad">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>



            </div>
        </div>

    </div>
</form>

<form name="name" action="/craft_a_pizza" method="post">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="text-center bg-primary p-5 text-white">
                    <h1>Toppings de Pizza</h1>
                    <p>Aquí puedes seleccionar tus toppings favoritos</p>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="500" id="topping1" name="toppings">
                        <label class="form-check-label" for="topping1">
                            Mozzarella
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="500" id="topping2" name="toppings">
                        <label class="form-check-label" for="topping2">
                            Salsa de Tomate
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="500" id="topping3" name="toppings">
                        <label class="form-check-label" for="topping3">
                            Albahaca
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="500" id="topping4" name="toppings">
                        <label class="form-check-label" for="topping4">
                            Jamón
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="500" id="topping5" name="toppings">
                        <label class="form-check-label" for="topping5">
                            Piña
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="500" id="topping6" name="toppings">
                        <label class="form-check-label" for="topping6">
                            Pepperoni
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="500" id="topping7" name="toppings">
                        <label class="form-check-label" for="topping7">
                            Aceitunas
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="500" id="topping8" name="toppings">
                        <label class="form-check-label" for="topping8">
                            Cebolla
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="500" id="topping9" name="toppings">
                        <label class="form-check-label" for="topping9">
                            Champiñones
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="500" id="topping10" name="toppings">
                        <label class="form-check-label" for="topping10">
                            Pimentón
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="500" id="topping11" name="toppings">
                        <label class="form-check-label" for="topping11">
                            Tomate
                        </label>
                    </div>

                    <a class="btn btn-outline-success" href="order" onclick="addToOrder()">Add to Order</a>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- <div class="container">
    <div class="row mt-4">
        <div class="col-md-6">
            <h6>Carrito de Compras</h6>
            <hr>
            <ul id="cart-items"></ul>
            <button class="btn btn-primary" onclick="vaciarCarrito()">Vaciar Carrito</button>
            <a href="/carrito/" class="btn btn-primary" >Ver Carrito</a>
        </div>
    </div>
</div> -->



<script>

    toppings = document.getElementById("toppings").innerHTML.split(",")
    favorite = document.getElementById("favorite").innerHTML
    topping_total = 0;

    const topping_ids = {
        "mozzarella": "topping1",
        "Salsa de Tomate": "topping2",
        "albahaca": "topping3",
        "jamon": "topping4",
        "piña": "topping5",
        "pepperoni": "topping6",
        "Aceitunas": "topping7",
        "Cebolla": "topping8",
        "champignon": "topping9",
        "Pimentón": "topping10",
        "Tomate": "topping11"
    }

    for (let i = 0; i < document.name.elements.length; i++) {

        toppings.forEach(element => {
            topping = (
                element
                    .replace(/\n/g, "")
                    .slice(0, element.length)
                    .replace(/ /g, "")
            );

            if (topping_ids[topping] === document.name.elements[i].id) {
                document.name.elements[i].checked = true;
            }

        });

    }

    function addToOrder(params) {

        toppings = document.getElementsByClassName("form-check-input")

        for (let index = 0; index < Object.keys(toppings).length; index++) {
            const element = Object.keys(toppings)[index];

            checked_topping = (toppings[element].checked);

            if (checked_topping) {
                topping_total += parseInt(toppings[element].value)
            }

        }

        e = (document.getElementById("Method"))
        method_price = parseInt(e.value)
        method_text = e.options[e.selectedIndex].text;

        e = (document.getElementById("Size"))
        size_price = parseInt(e.value)
        size_text = e.options[e.selectedIndex].text;

        Crust = document.getElementById("Crust").value
        Cantidad = document.getElementById("Cantidad").value

        sessionStorage.setItem("method", method_text);
        sessionStorage.setItem("size", size_text);
        sessionStorage.setItem("Crust", Crust);
        sessionStorage.setItem("Cantidad", Cantidad);
        sessionStorage.setItem("topping_total", topping_total + method_price + size_price);

    }

</script>

<pre>{{ pizzas.__dict__ }}</pre>
{% endblock %}