{% extends 'base.html' %}
{% block titulo %}Your Order{% endblock %}

{% block contenido %}
{% include 'menu.html'%}

<div class="card" style="width: 18rem;" class="col-sm-6 mb-3 mb-sm-0">
    <div class="card-header">
        <strong>Your Order</strong>
    </div>
    <ul class="list-group list-group-flush">

        {% for producto in session.carrito.productos %}
        <li class="list-group-item">Method: </li>
        <li class="list-group-item">Cantidad: {{session.carrito.productos[0].cantidad}} </li>
        <li class="list-group-item">Size: </li>
        <li class="list-group-item">Crust: </li>
        <li class="list-group-item">Toppings: </li>
        {% endfor %}

        <span>
            <li class="list-group-item">Total:
                {{ session.carrito.productos[0].precio }}
            </li>
        </span>
    </ul>
    <div>
        <!-- <button type="button" class="btn btn-danger">Start Over</button> -->
        <a class="btn btn-outline-danger" href="menu_principal">Start Over</a>

        <!-- <button type="button" class="btn btn-success">Purchase</button> -->
        <a id="purchaseButton" class="btn btn-outline-success" href="#">Purchase</a>

    </div>

</div>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Your Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Compra Realizada Exitosamente!!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Gracias</button>

            </div>
        </div>
    </div>
</div>

<script>
    let purchaseButton = document.getElementById('purchaseButton');
    purchaseButton.addEventListener('click', function () {
        let modal = new bootstrap.Modal(document.querySelector('.modal'));
        modal.show();
    });

</script>
{% endblock %}